// 右侧工具栏icon全局样式
.el-icon-me
    font-size:18px
    vertical-align: middle
    color: #ffffff
    &:hover
        color: red

.view-me
    position: fixed
    top: 0
    left: 0
    bottom: 0
    width: 100%